/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$theme-desserty: rgb(250, 210, 130);
$theme-earth: rgb(60, 47, 38);
$theme-black: black;
$theme-cacktus: rgb(133, 94, 66);
$theme-terracota: rgb(178, 78, 52);


/* Colors */
/*$body-bg: #FFFFFF;
$body-color: rgb(55, 58, 60);
$link-color: rgb(39, 128, 227); */

$body-bg: $theme-desserty;
$body-color: $theme-earth;
$link-color: $theme-black;

/* Fonts */
/*$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-root: 18px;

/*--scss:rules--*/

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
  color: $theme-cacktus;
}

.navbar * {
  color: $theme-cacktus;
}

span.navbar-title {
  color: $theme-cacktus;
  transition-duration: 0.5s;
  
  &:hover {
    color: $theme-terracota;
    transition-duration: 0.5s;
  }
}

.quarto-title .subtitle.lead {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}
